body, html, #app
    background-color: $backgroundColor !important

#app
    min-height: 100vh !important

.navbar 
    background-color: $codeBgColor

.sidebar-button,
.search-box input,
.search-box .suggestion a
    color: $accentColor !important
    
.navbar .links,
.nav-links .repo-link
    background-color: $codeBgColor !important