$accentColor = #EF233C
$textColor = #EDF2F4
$borderColor = #8D99AE
$codeBgColor = #2B2D42


body, html
    background: #2B2D42

#app
    min-height: 100vh;

.navbar .site-name
    color: #2B2D42

.nav-links .nav-item
    color: #2B2D42

.nav-links a:hover, .nav-links a.router-link-active
    color: #EF233C

.sidebar-button,
.search-box input,
.nav-links .repo-link,
.search-box .suggestion a
    color: #8D99AE