$accentColor = #EF233C
$textColor = #EDF2F4
$borderColor = #EF233C
$codeBgColor = #2B2D42

body
    background: #2B2D42

#app
    min-height: 100vh;

.navbar .site-name
    color: #2B2D42

.nav-links .nav-item
    color: #2B2D42

.nav-links a:hover, .nav-links a.router-link-active
    color: #EF233C

.nav-links .repo-link
    color: #8D99AE

.search-box input
    color: #8D99AE

.search-box .suggestion a
    color: #8D99AE